.option {
    background-color: rgb(1, 7, 34);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
  }
  
  .option:hover {
    opacity: 1;
  }
  
  #options-container .option p {
    margin-bottom: 0;
  }
  
  .correct {
    background-color: #039b9b;
    font-weight: bold;
  }
  
  .wrong {
    background-color: rgb(3, 19, 88);
    opacity: 0.5;
  }
  
  .hide {
    display: none;
  }